@import url('./styles/fonts.css');
@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;

@layer components {
  .display-2xl {
    @apply font-karla text-10xl font-bold leading-9xl;
  }
  .display-xl {
    @apply font-karla text-9xl font-bold leading-8xl;
  }
  .display-lg {
    @apply font-karla text-8xl font-bold leading-7xl;
  }
  .display-md {
    @apply font-karla text-7xl font-bold leading-6xl;
  }
  .display-sm {
    @apply font-karla text-6xl font-bold leading-5xl;
  }
  .display-xs {
    @apply font-karla text-5xl font-bold leading-4xl;
  }
  .heading-h1 {
    @apply font-karla text-4xl leading-3xl;
  }
  .heading-h2 {
    @apply font-karla text-3xl leading-2xl;
  }
  .heading-h3 {
    @apply font-karla text-2xl leading-xl;
  }
  .heading-h4 {
    @apply font-karla text-xl leading-lg;
  }
  .heading-h5 {
    @apply font-karla text-lg leading-base;
  }
  .body {
    @apply font-inconsolata text-base leading-base;
  }
  .body-sm {
    @apply font-inconsolata text-sm leading-sm;
  }
  .caption {
    @apply font-inconsolata text-xs leading-xs;
  }

  .button-txt {
    @apply font-inconsolata text-base leading-base;
  }

  .background {
    @apply bg-neutral-50 dark:bg-neutral-950;
  }

  .card {
    @apply rounded-sm border border-input bg-background p-md;
  }

  .card-neutral {
    @apply rounded-sm bg-neutral-1 shadow-sm shadow-black dark:border dark:border-neutral-400/[0.2] dark:bg-neutral-900;
  }

  .surface {
    @apply bg-neutral-1 text-surface-fg dark:bg-neutral-950 dark:text-neutral-1;
  }
  .surface-container-lowest {
    @apply bg-neutral-50 text-surface-fg dark:bg-neutral-900 dark:text-neutral-1;
  }
  .surface-container-low {
    @apply bg-neutral-100 text-surface-fg dark:bg-neutral-800 dark:text-neutral-1;
  }
  .surface-container {
    @apply bg-neutral-200 text-surface-fg dark:bg-neutral-700 dark:text-neutral-1;
  }
  .surface-container-high {
    @apply bg-neutral-300 text-surface-fg dark:bg-neutral-600 dark:text-neutral-1;
  }
  .surface-container-highest {
    @apply bg-neutral-400 text-surface-fg dark:bg-neutral-500 dark:text-neutral-1;
  }
  .primary {
    @apply bg-primary text-primary-fg dark:bg-primary-300 dark:text-primary-800;
  }
  .primary-container {
    @apply bg-primary-200 text-primary-container-fg dark:bg-primary-600 dark:text-primary-100;
  }
  .secondary {
    @apply bg-secondary text-secondary-fg dark:bg-secondary-200 dark:text-secondary-800;
  }
  .secondary-container {
    @apply bg-secondary-200 text-secondary-container-fg dark:bg-secondary-600 dark:text-secondary-100;
  }
  .error {
    @apply bg-error text-error-fg dark:bg-error-200 dark:text-error-800;
  }
  .error-container {
    @apply bg-error-200 text-error-container-fg dark:bg-error-600 dark:text-error-100;
  }

  .input-neutral {
    @apply surface body placeholder:text-neutral-900/[0.4] dark:border dark:border-neutral-400/[0.2] dark:bg-neutral-900 dark:placeholder:text-neutral-100/[0.8];
  }

  .text-link {
    @apply text-primary-500 dark:text-primary-300;
  }

  .text-grayed {
    @apply text-primary-900/70;
  }

  .disable-opacity {
    @apply opacity-50 shadow-none;
  }

  .section-px {
    @apply px-xs mobile-sm:px-sm mobile:px-md mobile-lg:px-lg tablet:px-xl laptop-sm:px-xl laptop:px-2xl;
  }

  .section-py {
    @apply py-md mobile:py-md mobile-lg:py-lg tablet:py-xl laptop-sm:py-2xl laptop:py-2xl;
  }

  .inner-section-gap {
    @apply gap-sm mobile-lg:gap-sm tablet:gap-md laptop-sm:gap-md laptop:gap-md;
  }

  .main {
    @apply min-h-[calc(100vh-11.7rem)] flex flex-col items-center justify-center self-center;
  }
}

@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

:root {
  --font-sans: '';
}

:root {
  --background: 0 0% 100%;
  --foreground: 224 71.4% 4.1%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 224 71.4% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 224 71.4% 4.1%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 262.1 83.3% 57.8%;
  --primary-foreground: 210 20% 98%;
  --secondary: 220 14.3% 95.9%;
  --secondary-foreground: 220.9 39.3% 11%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;
  --ring: 262.1 83.3% 57.8%;
  --radius: 1rem;
  color-scheme: light;
}

.dark {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;
  --card: 224 71.4% 4.1%;
  --card-foreground: 210 20% 98%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 263.4 70% 50.4%;
  --primary-foreground: 210 20% 98%;
  --secondary: 215 27.9% 16.9%;
  --secondary-foreground: 210 20% 98%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
  --ring: 263.4 70% 50.4%;
  color-scheme: dark;
}
